.customPrimaryButton {
  /* Estado normal: Fondo azul, texto blanco, borde azul */
  background-color: var(--tenant-primary-color);
  color: #ffffff;
  border-color: var(--tenant-primary-color);
}

.customPrimaryButton:hover {
  /* Estado hover: Fondo transparente, texto azul, borde azul */
  background-color: transparent;
  color: var(--tenant-primary-color);
  border-color: var(--tenant-primary-color);
}

.customPrimaryButton:focus,
.customPrimaryButton:active {
  /* Estado active/focus: Fondo azul, texto blanco, borde azul */
  background-color: var(--tenant-primary-color);
  color: #ffffff;
  border-color: var(--tenant-primary-color);
  box-shadow: 0 0 0 0.25rem color-mix(in srgb, var(--tenant-primary-color), transparent 50%);
  /* Sombra de focus */
}

.customActionButton {
  /* Estado normal: Fondo terciario (naranja), texto blanco */
  background-color: var(--tenant-tertiary-color);
  border-color: var(--tenant-tertiary-color);
  color: #ffffff;
}

.customActionButton:hover {
  /* Estado hover: Fondo blanco, texto terciario (naranja), borde terciario */
  background-color: #ffffff;
  color: var(--tenant-tertiary-color);
  border-color: var(--tenant-tertiary-color);
}

.customActionButton:focus,
.customActionButton:active {
  background-color: var(--tenant-tertiary-color);
  color: #ffffff;
  border-color: var(--tenant-tertiary-color);
  box-shadow: 0 0 0 0.25rem color-mix(in srgb, var(--tenant-tertiary-color), transparent 50%);
}